<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Приложение для предсказания свойств композитов</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>