{% extends 'base.html' %}

{% block body %}

    <div class="text">
        <h2>
            Краткая инструкция
        </h2>
        <ol>
        <li>Необходимо выбрать соответствующий раздел ниже: рекомендация соотношения матрица-наполнитель или предсказание свойств композитов (модуль упругости при растяжении, ГПа и прочность при растяжении, МПа).</li>
        <li>Внести значения признаков. Все поля обязательны к заполнению. Принимаются только числовые значения большие или равные 0. Максимальная длина числа - 6 знаков после запятой.</li>
        </ol>
    </div>

    <div class="links">
        <a href="predict_nn.html" class="link">Рекомендация соотношения матрица-наполнитель</a>
        <a href="predict_reg.html" class="link">Предсказание свойств композитов</a>
    </div>

{% endblock %}